<h1 style="text-align:center">Help me build this image</h1>
<%= image_tag 'beyonce.png' %>
<h2 style="text-align:center">You'll be creating a bunch of small images that all together will be compiled to form was should faintly resemble the picture above.</h2>
<h1 style="text-align:center">Ready?</h2>
<%= link_to edit_image_section_path(@combined_image.image_sections.sample)  do %>
  <div class="start_link padded">Yes.</div>
<% end %>
