<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @combined_image.filename %>
</p>


<%= link_to 'Edit', edit_combined_image_path(@combined_image) %> |
<%= link_to 'Back', combined_images_path %>
