<h1 class="padded">Be creative,</h1>
<h1 class="padded"> make whatever you want.</h1>
<%= link_to edit_image_section_path(@combined_image.image_sections.sample)  do %>
  <div class="start_link center_page">Begin</div>
<% end %>
