<%= form_for(@image_section) do |f| %>
  <% if @image_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_section.errors.count, "error") %> prohibited this image_section from being saved:</h2>

      <ul>
      <% @image_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit" %>
    
  </div>
<% end %>
