// Place all the styles related to the CombinedImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:hover {
  color:#ccc;
}
.start_link:hover {
  color:#ccc;
}
.start_link {
  text-decoration:none;
  margin: 25% auto 25% auto;
  font-size:30px;
}
