// Place all the styles related to the CombinedImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:hover {
  color:#ccc;
}
.start_link:hover {
  color:#ccc;
}
.start_link {
  text-align:center;
  text-decoration:none;
  font-size:30px;
}
.center_page {
  margin: 10% auto 25% auto;
}
.padded {
  margin: 50px auto 50px auto;
}
