// Place all the styles related to the ImageSections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align: center;
}
h1 {
    font-size: 30px;
    width: 50%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}
h2 {
    font-size: 15px;
    width: 50%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}
p {
    font-size: 10px;
    width: 50%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}
div.sketchpad {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    margin: 4em auto 0 auto;
}
div.edit_mode {
    border: 5px solid #ccc;
}
div.color_pallete_container {
    width:100%;
    text-align: center;
}
div.color_pallete {
    display: inline-block;
    margin: 0px auto;
}
div.color_button {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px auto;
}
