// Place all the styles related to the ImageBlocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    text-align: center;
}
div.sketchpad {
    border: 5px solid #ccc;
    width: 30px;
    height: 30px;
    margin: 4em auto 0 auto;
}
